.tabs__link {
  color: $blue;
  border: none;
  display: block;
  font-size: .7rem;
  font-weight: bold;
  font-family: $sans-serif;
  padding: .75em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @include xl {
    display: inline-block;
    padding: .8em 1.25em;
    position: relative;
    top: 1px;
    width: auto;
  }

  &:hover {
    background-color: $gray-lightest;
  }

  &.is-active {
    background-color: $gray-lighter;
  }
}
