$left-column-toggle-width: 40px;
$left-column-toggle-height: 40px;

.left-column-toggle__label {
  z-index: 2;
  width: $left-column-toggle-width;
  height: $left-column-toggle-height;
  cursor: pointer;
  background: $green url('../images/nav-icon.png') center center no-repeat;
  display: block;
}

#left-column-toggle {
  display: none;
}
// menu defaults off/on for mobile/desktop
#left-column-toggle + .page .page__sidebar {
  display: none;

  @include medium {
    display: block;
  }
}
#left-column-toggle:checked + .page .page__sidebar {
  display: block;
}
