.accomplishment {
  display: flex;
  margin: 1em 0;

  .accomplishment__title {
    text-transform: uppercase;
    font-family: $font-heading;
  }

  .accomplishment__date {
    margin-right: 1em;
    flex: 0 0 auto;
    align-self: flex-start;
  }

  .accomplishment__person,
  .accomplishment__person-link {
    color: $green;
  }

  .accomplishment__type {
    display: block;
    font-weight: bold;
  }

  .accomplishment__link {
    display: block;
  }
}