<div class="accomplishment accomplishment--short{% if additional_classes %} {{ additional_classes }}{% endif %}">
  {% if accomplishment_url %}
    <a href="{{ accomplishment_url }}" class="accomplishment__link">
  {% endif %}

	{{ accomplishment_text }}

  {% if accomplishment_url %}
    </a>
  {% endif %}
  {{ title_suffix }}
</div>
