<div class="accomplishment accomplishment--long">
  {% include "@molecules/date/date.twig" with {
    date_value: accomplishment_date,
    block_name: "accomplishment__date"
  } %}

  <div class="accomplishment__content">
    <h3 class="accomplishment__title">
      {{ accomplishment_title }}
    </h3>

    {% if accomplishment_person_name %}
      <h4 class="accomplishment__person">
        {% if accomplishment_person_url %}
          <a href="{{ accomplishment_person_url }}" class="accomplishment__person-link">
        {% endif %}

        {{ accomplishment_person_name }}

        {% if accomplishment_person_url %}
          </a>
        {% endif %}
      </h4>
    {% endif %}

    <span class="accomplishment__type">
      {{ accomplishment_type }}
    </span>

  	{{ accomplishment_text }}

    {% if accomplishment_url %}
      <a href="{{ accomplishment_url }}" class="accomplishment__link">
        Read More
      </a>
    {% endif %}
  </div>
</div>