<div class="event {{ block_name }}">
  {% if event.date %}
    {% include "@molecules/date/date.twig" with {
      date_value: event.date,
      block_name: "event__date"
    } %}
  {% endif %}

  <div class="event__content">
    {% if event.title %}
      <h3 class="event__title">
        {% if event.url %}<a href="{{ event.url }}" class="event__title_link">{% endif %}
        {{ event.title }}
        {% if event.url %}</a>{% endif %}
      </h3>
    {% endif %}

    {% if event.time %}
      <p class="event__time">
        {% if event.url %}<a href="{{ event.url }}" class="event__time_link">{% endif %}
        {{ event.time }}
        {% if event.url %}</a>{% endif %}
      </p>
    {% endif %}
    
    {% if event.end_date %}
      <p class="event__end_datetime">
         End Date:
         {{ event.end_date }} - {{ event.end_time }}
      </p>
    {% endif %}
    {% if event.location %}
      {% for location in event.location %}
      <p class="event__location">
        {{ location }}
      </p>
      {% endfor %}
    {% endif %}

    {% if event.description %}
      <p class="event__description">
        {{ event.description }}
      </p>
    {% endif %}

    {% if event.contact_name or event.contact_email %}
      <p class="event__contact_name">
        Questions? Concerns? {% if event.contact_name %}Contact {{ event.contact_name }}{% endif %}{% if event.contact_name and event.contact_email %} at {% endif %}
        {% if event.contact_email %}<a href="mailto:{{ event.contact_email }}">{% endif %}
          {{ event.contact_email }}
        {% if event.contact_email %}</a>{% endif %}
      </p>
    {% endif %}
    
    {% if event.links %}
      <p class="event__links">
        Website:
        {% for link in event.links %}
        <a href="{{ link.url }}" class="event__link">{{ link.title }}</a>
        {% endfor %}
      </p>
    {% endif %}
  </div>
</div>