.event {
  font-family: $sans-serif;
  padding: 1em 0;
  display: flex;

  .event__location,
  .event__time {
    margin: 0;
  }

  .event__date {
    margin-right: 1em;
    flex: 0 0 auto;
    align-self: flex-start;
  }
}

.event_listing_short,
.event_listing_aside {
  border-bottom: 1px solid $gray-lighter;
}

.event_listing_short {
  .event__title,
  .event__title_link {
    color: $green;
    font-family: $font-body;
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
  }

  @include medium {
    .event__time,
    .event__location {
      margin-left: 1em;
    }
  }
}

.event_listing_aside {
  .event__title {
    border-left: 5px solid $green;
    padding-left: calc(.5em - 5px);
    font-size: 1.3em;
  }
  .event__title,
  .event__title_link {
    color: $gray-darker;
    text-decoration: none;
  }
  .event__date {
    margin-right: .5em;
  }
  .vtlaw_date_day {
    font-size: 1.2em;
  }
  .vtlaw_date__month,
  .vtlaw_date__year {
    font-size: .9em;
  }
}

.event_detail {
  @include medium {
    .event__date {
      width: 8em;
    }
    .event__content {
      margin-left: 2em;
    }
    .event__description {
      margin-left: 2em;
    }
  }
}
