<div class="{{ block_name }}">
  <div class="image-with-caption__image">
      {% include "@atoms/04-images/00-image/image.twig" with {
        img_src: img_src,
        img_alt: img_alt
      } %}
  </div>
  {% if image_title %}
    <div class="image-with-caption__title">
      {{ image_title }}
    </div>
  {% endif %}
  <div class="image-with-caption__caption">
    {{ caption|raw }}
  </div>
</div>
