.page__page_bottom_blocks .image-with-caption,
.image-with-caption--bottom-block {
  display: flex;
  flex-wrap: wrap;

  .image-with-caption__caption {
    order: 1;
  }
  .image-with-caption__image {
    order: 2;
  }

  @include medium {
    flex-wrap: unset;

    .image-with-caption__image {
      flex: 0 0 50%;
      margin-left: 1em;
    }
  }
}

.page__top_blocks .image-with-caption,
.image-with-caption--top-block {
  background: $white;

  .image-with-caption__image {
    max-height: 400px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .image-with-caption__title {
    @include heading-2;
    margin: 0;
  }
  .image-with-caption__caption {
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.page__body {
  figure.align-center {
    display: table;
  }
}