{% include "@molecules/image-with-caption/_image-with-caption.twig" with {
  block_name: "image-with-caption--bottom-block",
  img_src: "http://placeimg.com/400/300/tech",
  img_alt: headline.short,
  caption: '<p>' ~ excerpt.medium ~ '</p>'
} %}
