{% include "@molecules/image-with-caption/_image-with-caption.twig" with {
  block_name: "image-with-caption--top-block",
  img_src: "http://placeimg.com/1200/800/tech",
  img_alt: headline.short
} %}