{% include "@molecules/image-with-caption/_image-with-caption.twig" with {
  block_name: "image-with-caption--top-block",
  img_src: "http://placeimg.com/1200/800/tech",
  img_alt: headline.short,
  image_title: headline.short,
  caption: '<p>' ~ excerpt.medium ~ '</p>'
} %}
