.site-footer {
  color: $gray-light;
  padding: 2em;

  .site-footer__branding_addr,
  #block-vtlaw-footer {
    margin-bottom: 1em;
  }

  @include large {
    display: flex;
    justify-content: space-between;

    #block-footer-addr {
      margin-left: 4em;
    }

    #block-vtlaw-footer { // (menu)
      flex-basis: 25%;
    }
  }

  // the tool menu cannot be disabled in drupal config
  #block-vtlaw-tools {
    display: none;
  }

  .menu {
    .menu__link {
      color: $gray-light;
      text-decoration: none;

      &:hover {
        color: $green;
      }
    }
  }

  .site-footer__address {
    font-size: .95em;
    line-height: 1.3em;
    margin: 1em 0 0 3em;
  }

  .left-column-toggle__label {
    display: none;
  }
}

// Assumes icons from http://markhuge.github.io/svg-social-icons/
#block-footer-social {
  svg {
    width: 2em;
    height: 2em;
    margin: 0 .5em 0 0;
  }

  .social-svg-icon {
    fill: white;
  }
}
