/////////////////////
// Mixins

/// Mixin - Clearfix.
/// Adds clearfix based on http://bourbon.io/docs/#clearfix
/// use example =   @include cleafix

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/// Mixin - list-reset
/// Reset list item defaults when no margin, padding, list styles needed
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/// Mixin - With Icon
/// Precede Text with SVG icon
@mixin with-icon {
  background-size: cover;
  content: "";
  display: inline-block;
  margin-right: .1em;
  padding: .8em;
}

/// Mixin - Outer container
/// Outer container mixin for large screens
@mixin outer-container {
  margin: 0 auto;
  max-width: $max-width;
  @include clearfix;
}

/// Mixin - More Link
/// Used in a number of views
@mixin more-link {
  a {
    font-size: .9rem;
    font-weight: bold;
    text-decoration: none;

    &::before {
      content: "»";
      font-size: 1.2rem;
      margin-right: .2em;
    }
  }
}

/// Mixin - Back Link
/// Used in a number of views
@mixin back-link {
  display: block;
  font-size: .9rem;
  font-weight: bold;
  text-decoration: none;

  &::before {
    content: "«";
    font-size: 1.2rem;
    margin-right: .2em;
  }
}

/// Mixin - Body Copy
@mixin body-copy {
  font-family: $font-body;
  font-size: .9em;
  line-height: 1.8em;
}

/// Mixin - Transition
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

/// Mixin - Content Aside Heading
@mixin content-aside-heading {
  text-transform: uppercase;
  font-family: $font-heading;
  border-left: 5px solid $gray;
  padding-left: 8px;
  font-weight: bold;
  display: block;
  color: $gray-darker;
  margin: 0 0 .5em 0;
}
