{#
 # Page Layout base template
 #
 # This is the base page template. It's used by Drupal in `_page-drupal.twig`
 # and used very differently by PL in `page.twig`.
 #}

{# @todo Improve `content_aside` region content checking and set `has_no_content_aside` : We have no way of knowing if the `content_aside` region has content or not due to usage of the "Aside region view mode" Entity View block that Lazy Loads other blocks. This variable and it's CSS rules are setup for when it is solved later. #}
{% set classes = [
  'page',
  is_front ? 'page--front',
  has_no_content_aside ? 'page--has-no-content-aside'
] %}

{# This opens the sidebar after `<label for="left-column-toggle">` is clicked. To reverse the on-load behavior (ie have it start open vs closed), set `sidebar_open` to true. #}
<input type="checkbox" id="left-column-toggle"{% if sidebar_open %} checked{% endif %}>
<div class="{{ classes|join(' ') }}">
  <div class="page__header">
    {% block site_header %}
    {% endblock %}
  </div>


  <div class="page__content">

    <div class="content-top">
      {% block content_top %}
      {% endblock %}
    </div>

    <div class="page__main">
      <main class="content-main" role="main">
        {{ page.help is defined? page.help : '' }}
        {{ messages is defined? messages : '' }}

        {% block content_main %}
        {% endblock %}
      </main>

      <aside class="content-aside" role="complementary">
        {% block content_aside %}
        {% endblock %}
      </aside>
    </div>

    <div class="content-bottom">
      {% block content_bottom %}
      {% endblock %}
    </div>

    {% block site_footer %}
    {% endblock %}
  </div>


  <div class="page__sidebar">
    <aside class="site-sidebar" role="complementary">
      {% block site_sidebar %}
      {% endblock %}
    </aside>
  </div>

</div>
