.context-news-and-events {
  .page__bottom_block_content {
    display: flex;
    flex-wrap: wrap;

    @include large {
      justify-content: space-between;
    }

    .page__bottom_block_item {
      flex-basis: 100%;
      margin-bottom: 2em;

      @include large {
        flex-basis: 31%;
      }

      iframe {
        width: 100%;
      }
    }

    .button {
      margin-top: 1em;
    }
  }

  .viewsreference--view-title,
  #block-news-mention-feed h2 {
    @include heading-3;
    font-size: 1.25em;
    color: $black;
    border-left: 5px solid $green;
    padding-left: 10px;
  }
}