.content-bottom,
.content-main,
.content-aside {
  padding: 2em;
  .page--front & {
    padding: 0;
  }
}

.page {
  display: flex;
  flex-direction: column;
  background: $color-sidebar;
  &__header {
    order: -5;
    z-index: 100;
  }
  &__sidebar {
    order: -2;
  }
  &__main {
    background: white;
  }
}

.content-top {
  background: white;
}

.content-bottom {
  background: $tan;
}

@include medium {
  .page {
    overflow: hidden;
    display: block;
    &__header {
      width: 100%;
      box-sizing: border-box;
      .branding {
        width: 15em;
        transition: width linear 0.2s;

        @include xl {
          width: 20em;
          #left-column-toggle:checked + .page & {
            width: 15em;
          }
        }
      }
    }
    &--front {
      .page__header {
        width: 15em;
        float: left;
        box-sizing: border-box;
        position: absolute;
        #left-column-toggle:checked + & {
        }
        @include xl {
          width: 20em;
        }
      }
      .page__sidebar {
        margin-top: 90px;
      }
      .site-header {
        background-color: transparent;
      }
    }
    &__sidebar {
      width: 15em;
      float: left;
      clear: left;
      box-sizing: border-box;
      overflow: hidden;
      transition: width linear 0.2s;
      @include xl {
        width: 20em;
      }
      #left-column-toggle:checked + .page & {
        width: 0em;
      }
    }
    &__content {
      float: right;
      width: calc(100% - 15em);
      box-sizing: border-box;
      transition: width linear 0.2s;
      @include xl {
        width: calc(100% - 20em);
      }
      #left-column-toggle:checked + .page & {
        width: 100%;
      }
    }

    &__main {
      display: flex;
      justify-content: space-between;
      .content-main {
        width: calc(100% - 259px);
        box-sizing: border-box;
      }
      .content-aside {
        width: 259px;
        box-sizing: border-box;
      }
      .page--front &,
      .page--has-no-content-aside & {
        display: block;
        .content-main {
          width: 100%;
        }
        .content-aside {
          display: none;
        }
      }
    }
  }
}

#block-vtlaw-content {
  overflow: hidden;
  margin-bottom: 2em;

  .page--front & {
    margin-bottom: 0;
  }
}
