{#
 # Drupal Page Layout
 #}

{% extends "@pages/_base_page.twig" %}

{% block site_header %}
  {{ page.header }}
{% endblock %}

{% block content_top %}
  {{ page.content_top }}
{% endblock %}

{% block content_main %}
  {{ page.content }}
{% endblock %}

{% block content_aside %}
  {{ page.content_aside }}
{% endblock %}

{% block content_bottom %}
  {{ page.content_bottom }}
{% endblock %}

{% block site_sidebar %}
  {{ page.sidebar }}
{% endblock %}

{% block site_footer %}
  {{ page.footer }}
{% endblock %}