{#
 # Page Layout mockup
 #
 # PatternLab only mockup of basic page layout
 #}

{% extends "@pages/_base_page.twig" %}

{% block site_header %}
  {% include "@organisms/site/site-header/site-header.twig" with {
    content: "Header"
  } %}
{% endblock %}

{% block content_top %}
  <h2>Top Block</h2>
  {{ excerpt.short }}
{% endblock %}

{% block content_main %}
  <h2>Body</h2>
  {{ excerpt.medium }}
{% endblock %}

{% block content_aside %}
  <h2>Right Column</h2>
  {{ excerpt.short }}
{% endblock %}

{% block content_bottom %}
  <h2>Bottom Block</h2>
  {{ excerpt.short }}
{% endblock %}

{% block site_sidebar %}
  {% include "@molecules/search-box/search-box.twig" %}
  {% include "@molecules/menus/primary-navigation/primary-navigation.twig" %}
{% endblock %}

{% block site_footer %}
  {% include "@organisms/site/site-footer/site-footer.twig" with {
    content: "Footer"
  } %}
{% endblock %}
