{#
 # Person Detail page mockup
 #
 # This is a PatternLab only mockup of the person detail page.
 # In implementation, each molecule is called from separate region
 # templates like `node--person--aside-region.html.twig`
 #}

{% extends "@pages/page.twig" %}

{% set tab_items =  {
  0: {
    label: 'Biography',
    template: '@molecules/person/biography.twig',
    data: { 'bio': bio }
  },
  1: {
    label: 'Publications',
    template: '@organisms/accomplishment-listings/accomplishment-listings.twig',
    data: {
      'accomplishment_heading': 'Publications',
      'accomplishment_groups': accomplishments_publications
    }
  },
  2: {
    label: 'Presentations',
    content: ''
  },
  3: {
    label: 'Awards & Accomplishments',
    content: ''
  }
} %}

{% block content_top %}
  {% include "@molecules/person/person-detail-top.twig" with {
    img_src: img_src,
    person_label: person_label,
    person_name: person_name,
    job_titles: job_titles,
    degrees: degrees,
    phone: phone
  } only %}

  {% include "@molecules/menus/tabs/tabs.twig" with {
    items: tab_items,
    tabs_only: true
  } %}
{% endblock %}

{% block content_main %}
  {% include "@molecules/menus/tabs/tabs.twig" with {
    items: tab_items,
    content_only: true
  } %}
{% endblock %}

{% block content_bottom %}{% endblock %}

{% block content_aside %}
  {% include "@molecules/person/person-detail-aside.twig" with {
    person_expertise_label: "Expertise",
    person_expertise: ["Arctic Law and Policy","International Environmental Law","Law of the Sea"]
  } %}
{% endblock %}