.page-title {
  font-family: $font-heading;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray-darker;
  .page--front & {
    display: none;
    visibility: hidden;
  }
}
