.form-item {
  color: $gray;
  margin-bottom: 1em;
  max-width: 32em;
  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: bold;

  @include xs {
    display: block;
    margin-right: 2%;
    padding: .6em 0;
  }
}

.form-item__textfield {
  border: 1px solid $gray-lightest;
  padding: .6em;

  &:focus {
  	border-color:$black;
  }

  &::-webkit-input-placeholder {
    color:$gray-light;
  }

  &:-moz-placeholder {
    color:$gray-light;
  }

  &::-moz-placeholder {
    color:$gray-light;
  }

  &:-ms-input-placeholder {
    color:$gray-light;
  }
}

.form-item__description {
  margin-top: .3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}

.views-exposed-form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;

  & > div {
    margin-right: 1em;
    margin-bottom: 0;
  }
}
