{% set base_class = "slider" %}
{% set classes = base_class %}
{% for modifier in modifiers %}
  {% set classes = classes ~ " " ~ base_class ~ "--" ~ modifier %}
{% endfor %}

<div class="{{ classes }}">
  {% for slide in slides %}
    {% include "@molecules/slide/_slide.twig" with {
      modifiers: ["home"],
      slide: slide,
    } %}
  {% endfor %}
</div>