.page--front .slider {
  margin-bottom: 0;
}

.slider {
  // remove the font based icons slick comes with
  .slick-prev:before, .slick-next:before {
    content: "";
  }
  .slick-arrow {
    background:  url("../images/slider-arrows.png") 0 0 no-repeat;
    background-size: cover;
    opacity: .7;
  }
}

.slider--home {
  .slick-arrow {
    width: 45px;
    height: 77px;
  }
  .slick-next {
    background-position: -45px 0;
  }
}

.slider--standard {
  .slick-arrow {
    width: 17px;
    height: 29px;
  }
  .slick-next {
    background-position: -16px 0;
  }

  .slide {
    max-height: 600px;
    overflow: hidden;
  }

  // we reposition the controls with js, and clean up a bit here:
  .slick-dots {
    position: inherit;
    bottom: inherit;
    display: block;
    width: 100%;
    padding: 0;
    margin: 2em 0 0 0;
    list-style: none;
    text-align: center;
  }
  .slick-next,
  .slick-prev {
    top: auto;
    bottom: 0px;
  }
}

// some ugly slick overrides to get things look right
.slick-next {
  right: 25px;
  z-index: 10;
}
.slick-prev {
  left: 20px;
  z-index: 10;
}

.slick-dots li button:before {
  font-size: 15px;
  color: $white;
  opacity: 1;
}

.slide--blue {
  .slick-dots li.slick-active button:before {
    color: $light-blue;
  }
}
.slide--yellow {
  .slick-dots li.slick-active button:before {
    color: $yellow;
  }
}
.slide--green {
  .slick-dots li.slick-active button:before {
    color: $green;
  }
}