{% include "@organisms/slider/_slider.twig" with {
  modifiers: ["home"],
  slides: {
    1: {
      img_src: "http://placeimg.com/1280/720/nature",
      img_alt: "This is the slide image's alt text",
      title: random(headline),
      body: random(excerpt),
      link_url: "#",
      link_text: "Read the News",
      accent_color: "blue",
      text_color: "light",
      caption_position: "bottom",
      modifiers: ["home"]
    },
    2: {
      img_src: "http://placeimg.com/1280/720/nature",
      img_alt: "This is the slide image's alt text",
      title: random(headline),
      body: random(excerpt),
      link_url: "#",
      link_text: "Read the News",
      accent_color: "yellow",
      text_color: "dark",
      caption_position: "top",
      modifiers: ["home"]
    }
  }
} %}