.tile {
  position: relative;
  overflow: hidden;

  .tile__caption_content {
    max-height: 0;
    transition: max-height 0.15s ease-out;
  }

  &:hover {
    .tile__caption_content {
      max-height: 500px;
      transition: max-height 0.15s ease-in;
    }
  }
}

.tile__image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.tile__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.tile__title {
  background: $yellow;
  color: $black;
  font-size: .9em;
  line-height: 1.2em;
  padding: .5em;
  display: inline-block;
}

.tile__caption_content {
  background: $black; // fallback for browsers that don't support rgba opacity
  background: rgba(0, 0, 0, .65);
  color: $white;
}

.tile__body {
  font-size: .8em;
  line-height: 1.2em;
  font-family: $sans-serif;
  padding: .75em;
}

.tile button {
  margin: .75em;
}
