
<div class="tile{{ tile.featured? " tile--featured" : "" }}">
  {% if tile.img_src %}
    <div class="tile__image">
      {% include "@atoms/04-images/00-image/image.twig"
        with {
          "img_src": tile.img_src,
          "img_alt": tile.img_alt
        }
      %}
    </div>
  {% endif %}

  {% if tile.link_url %}<a href="{{ tile.link_url }}">{% endif %}
    <div class="tile__caption">
      {% if tile.title %}
        <div class="tile__title">
          {{ tile.title }}
        </div>
      {% endif %}

      <div class="tile__caption_content">
        {% if tile.body %}
          <div class="tile__body">
            {{ tile.body }}
          </div>
        {% endif %}

        {% if tile.link_url %}
          {% include "@atoms/06-buttons/00-button.twig"
            with {
              "button_content": tile.link_text,
              "button_url": tile.link_url,
              "button_base_class": "button",
              "button_modifiers": ["green", "secondary"],
              "button_blockname": "tile__link"
            }
          %}
        {% endif %}
      </div>
    </div>
  {% if tile.link_url %}</a>{% endif %}
</div>
