$table-gray: #f9f9f9;

.table {
  border: 1px solid $gray-lightest;
  border-radius: 4px;
  border-spacing:0;
  background-color: $table-gray;
  width: 100%;
  font-family: $sans-serif;
}

.table__heading-cell {
  border: none;
  background: $near-white;
  color: $black;
  padding: .6em;
  text-align: left;

  &:first-child {
    border:none;
  }
}

.table__row {
  &:nth-child(odd) {
    background-color: $white;
  }

  // Non-BEM but always contained
  &:last-child {
    td:first-child {
      border-radius: 0 0 0 5px;
    }

    td:last-child {
      border-radius: 0 0 5px 0;
    }
  }
}

.table__cell {
  border: none;
  padding: .5em;

  &:last-child {
    border-right: none;
  }
}

.table__footer-cell,
.table__footer-cell:first-child {
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  table {
    @extend .table;
  }

  th {
    @extend .table__heading-cell;
  }

  td {
    @extend .table__cell;
  }

  tbody tr {
    @extend .table__row;
  }
}
