.button {
  background-color: $gray-light;
  border:none;
  color: $gray-darker;
  cursor: pointer;
  line-height: 1.4;
  padding: .3em .5em;
  font-weight: 700;
  font-family: $font-body;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;

  &:hover {
    background-color: $gray;
  }

  &--yellow {
    background-color: $yellow;

    &:hover {
      background-color: darken($yellow, 15%);
    }
  }

  &--blue {
    background-color: $light-blue;

    &:hover {
      background-color: darken($light-blue, 15%);
    }
  }

  &--green {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: darken($green, 15%);
    }
  }

  &--arrow {
    &::after {
      content: ">";
    }
  }

  &--secondary {
    font-weight: bold;
    font-size: .7rem;
    padding: .1em .3em .2em;
    border-radius: 0;
    font-family: $sans-serif;
  }

  &--text {
    background: none;
    color: $black;
    font-family: $font-heading;
    font-weight: bold;

    &:hover {
      background: none;
      color: $green;
    }
    &::before {
      content: ">";
      background-color: $green;
      color: $black;
      padding: 3px 8px;
      margin-right: 5px;
      font-size: 1em;
    }
  }
}
