{% if site_logo %}
  <div class="branding">
    <a href="{{ url }}" class="branding__logo" title="Home" rel="home">
      <img src="{{ site_logo }}" alt="Home" />
    </a>

    {% include "@molecules/left-column-toggle/left-column-toggle.twig" %}
  </div>
{% endif %}