{#
/**
 * @file
 * Theme override for the tile reference field in the tile_grid paragraph.
 *
 * We just want to output the field items (tiles). No fancy wrappers or anything.
 */
#}

{% for item in items %}
  {{ item.content }}
{% endfor %}
