.social-links {
  padding-bottom: 25px;
}

.social-share__heading {
  border-left: 8px solid $gray-light;
  padding-left: 8px;
  color: $gray-darker;
}

.shariff {
  .share_text {
    display: none !important; // hide the text label
  }
  .orientation-horizontal li { // float them left (collapse width)
    min-width: 0;
  }
  li .fa {
    width: 22px !important;
    vertical-align: unset;
    line-height: 20px;
    font-size: 16px !important;
  }

  li,
  li a {
    height: 20px;
    line-height: 20px;
  }

  .orientation-horizontal li {
    width: 22px;
    max-width: 22px;
  }
}
