<div class="site-footer__branding_addr">
  {% include "@molecules/branding/_branding.twig" with {
    url: path('<front>'),
    site_logo: '/themes/vtlaw/logo.svg'
  } %}

  {% include "@molecules/_block.twig" %}
</div>