// Create a mixin for heading-3 styles that can be implemented
// in components with other classnames.
@mixin heading-3 {
  @include headings(
    $font-size: 21px,
    $line-height: 29px,
    $color: $gray,
    $text-transform: uppercase
  );
}

.heading-3,
h3 {
  @include heading-3;
  &--centered {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: $green;
    }
  }
}
