ul,
ol {
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.list-item {
  margin-bottom: .2em;
  padding-left: 1em;
}

// TODO: BEM selectors should be applied to wysiwyg-created content

.text-long {
  ol, ul {
    li {
      @extend .list-item
    }
  }
}