.accomplishment-listings {
  .accomplishment {
    margin: 1em 0 0 1em;
  }
  .accomplishment-listings__heading {
    margin-bottom: 1em;
  }
  .accomplishment-listings__subheading,
  h3 { // drupal implementation uses an h3 instead of this selector
    margin-top: 1em;
    color: $green;
    font-size: 1.3em;
    font-family: $ff--museo-slab;
    text-transform: none;
  }
}