<div class="accomplishment-listings">
  {% if accomplishment_heading is defined %}
    <h2 class="accomplishment-listings__heading">
      {{ accomplishment_heading }}
    </h2>
  {% endif %}

  {% for group in accomplishment_groups %}
    {% if group.heading is defined %}
      <h3 class="accomplishment-listings__subheading">
        {{ group.heading }}
      </h3>
    {% endif %}

    {% for accomplishment in group.accomplishments %}
      {% include "@molecules/accomplishment/accomplishment-short.twig" with {
        accomplishment_text: accomplishment.text,
        accomplishment_url: accomplishment.url
      } %}
    {% endfor %}
  {% endfor %}
</div>