{#
/**
 * @file
 * Theme override to display a single views grouping.
 *
 * Available variables:
 * - view: The view object.
 * - grouping: The grouping instruction.
 * - grouping_level: A number indicating the hierarchical level of the grouping.
 * - title: The group heading.
 * - content: The content to be grouped.
 * - rows: The rows returned from the view.
 *
 * @see template_preprocess_views_view_grouping()
 */
#}

{# TODO: Set the grouping level based on the id of the view, so that this isn't applied in every grouped view. #}
{% set header_element = 'h' ~ (grouping_level + 3) %}

<div class="view-grouping">
  <{{ header_element }} class="view-grouping-header">{{ title }}</{{ header_element }}>
  <div class="view-grouping-content">{{ content }}</div>
</div>
