{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *   - starting_level: The starting level of the menu as set by menu_block.
 *
 * @ingroup themeable
 */
#}
{% if starting_level == 1 %}
  {% include "@molecules/menus/primary-navigation/primary-navigation.twig" with {
    primary_navigation_items: items
  } %}
{% else %}
  {% include "@molecules/menus/secondary-navigation/secondary-navigation.twig" with {
    items: items
  } %}
{% endif %}