// Create a mixin for heading-2 styles that can be implemented
// in components with other classnames.
@mixin heading-2 {
  @include headings(
    $font-size: 27px,
    $line-height: 38px,
    $text-transform: uppercase,
    $font-weight: 700,
    $color: $gray
  );
}

.heading-2,
h2 {
  @include heading-2;
  &--no-space {
    margin-bottom: 0;
  }
}
