{#
 # person block base template
 #
 # We have a number of different person blocks displaying various fields.
 # This base template mostly just displays whatever person data you send it.
 #
 # Required variables:
 # - block_name
 #
 # Other Variables:
 # - img_src: person img url.
 # - img_alt: person img alt text.
 # - person_label: e.g. "Faculty"
 # - person_name
 # - person_url
 # - job_titles
 # - department
 # - degrees
 # - emails
 # - phone_numbers
 # - expertise
 # - expertise_label
 # - bio
 #}
<div class="{{ block_name }}">
  {% if img_src %}
    <div class="person__image">
      {% include "@atoms/04-images/00-image/image.twig"
        with {
          "img_src": img_src,
          "img_alt": img_alt,
          "image_base_class": img_base_class|default('image'),
        }
      %}
    </div>
  {% endif %}

  <div class="person__content">
     <div class="person__heading">
      {% if person_label %}
        <span class="person__label">{{ person_label }}</span>
      {% endif %}

      <h3 class="person__name">
        {% if person_url %}<a href="{{ person_url }}">{% endif %}
          {{ person_name }}
        {% if person_url %}</a>{% endif %}
      </h3>
    </div>

    {% if job_titles %}
      {% for job_title in job_titles %}
        <div class="person__title">
          {{ job_title }}
        </div>
      {% endfor %}
    {% endif %}

    {% if departments %}
      {% for department in departments %}
        <div class="person__department">
          {{ department }}
        </div>
      {% endfor %}
    {% endif %}

    {% if degrees %}
      {% for degree in degrees %}
        <p class="person__degree">
          {{ degree }}
        </p>
      {% endfor %}
    {% endif %}

    {% if phone_numbers %}
      {% for phone in phone_numbers %}
        <span class="person__phone"><a href="tel:{{ phone }}">{{ phone }}</a></span>
      {% endfor %}
    {% endif %}
    
    {% if email %}
        {{ email }}
    {% endif %}

    {% if expertise %}
      <p class="person__expertise">
        {% if expertise_label %}
          <span class="person__expertise_label">{{ expertise_label }}</span>
        {% endif %}

        {% set expertise_list = "" %}

        {% for value in expertise %}
          {% set expertise_list = expertise_list ~ value ~ "; " %}
        {% endfor %}

        {{ expertise_list|trim("; ") }}
      </p>
    {% endif %}

    {% if bio %}
      <p class="person__bio">{{ bio }}</p>
    {% endif %}

    {% if block_name == "person-listing-detailed" %}
      <p><a href="{{ person_url }}" class="person__read_more">Read more...</a></p>
    {% endif %}
    {% if cv_href %}
      <p class="person__file"><a href="{{ cv_href }}"><img src="/themes/vtlaw/images/icons/pdfico.png">Curriculum Vitae</a></p>
    {% endif %}
  </div>
</div>
