.person_detail_aside {
  & > div {
    margin: 2em 0;
  }

  .person__expertise,
  .person__course {
    @include list-reset;
  }

  .person__expertise_label,
  .person__course_label {
    @include content-aside-heading;
  }
}
