.person_detail_top {
  background: $tan;
  padding: 2em;
  font-family: $sans-serif;

  @include medium {
    display: flex;
  }

  .person__image {
    margin-bottom: 1em;
    margin-right: 10px;

    @include medium {
      flex-basis: 50%;
    }
  }

  .person__content {
    @include medium {
      flex-basis: 50%;
    }
  }

  .person__heading {
    @include clearfix;

    margin: -4em 0 0 1em;
    position: relative;

    @include medium {
      margin: 0;
    }
  }

  .person__name {
    font-size: 1.4em;
    padding: 5px 8px 3px 8px;
    background: $black;
    color: $white;
    width: auto;
    display: block;
    float: left;
    clear: left;
  }

  .person__label {
    background: $yellow;
    color: $black;
    font-weight: bold;
    font-size: .875em;
    line-height: 1.25em;
    font-family: $font-body;
    padding: 0.25em 0.625em;
    display: block;
    float: left;
  }

  .person__title,
  .person__department {
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: $font-heading;
    font-weight: bold;
  }

  .person__email {
    a {
      font-family: "open-sans", sans-serif;
      font-size: .8em;
      text-decoration: none;
    }
  }

  .person__degree {
    margin: 0;
  }

  .person__work_phone_title {
    font-weight: bold;
  }

  .person__file {
    a {
      margin-left: 0 !important;
      font-family: "open-sans", sans-serif;
      font-size: .8em;
      text-decoration: none;
      border-bottom: 1px solid #DDD;
      display: block;
      line-height: 1.4em;
      padding: 9px 0 7px;
      img {
        margin-right: 3px;
      }
    }
  }
}
