.person-listing-mini,
.person-listing-short,
.person-listing-detailed {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 1em;
  padding-bottom: 1em;

  .person__name {
    text-transform: uppercase;
    font-family: $font-heading;
    font-size: 1.8em;
    margin-bottom: 0;

    a {
      color: $gray;
      text-decoration: none;

      &:hover {
        color: $green;
      }
    }
  }

  .person__title {
    color: $green;
    font-family: $font-body;
    font-size: 1.2em;
    margin: 0;
  }
}

.person-listing-short,
.person-listing-detailed {
  @include medium {
    display: flex;
  }

  .person__image {
    margin-bottom: 1em;

    @include medium {
      align-self: flex-start;
      flex: 0 0 160px;
      margin-right: 1em;
      border-right: 3px solid $green;
      padding-right: 1em;
    }
  }

  .person__read_more {
    text-decoration: none;
  }

  .person__expertise_label {
    font-style: italic;
  }
}

