<div class="person_detail_aside">
  {% if person_expertise %}
    <div class="person__expertises">
    {% if person_expertise_label %}
      <span class="person__expertise_label">{{ person_expertise_label }}</span>
    {% endif %}

    <ul class="person__expertise">
      {% for expertise in person_expertise %}
        <li>{{ expertise }}</li>
      {% endfor %}
    </ul>
    </div>
  {% endif %}
  {% if person_courses %}
    <div class="person__courses">
    {% if person_courses_label %}
      <span class="person__course_label">{{ person_courses_label }}</span>
    {% endif %}

    <ul class="person__course">
      {% for course in person_courses %}
        <li>{{ course }}</li>
      {% endfor %}
    </ul>
    </div>
  {% endif %}
</div>
