.call-to-action {
  .call-to-action__link {
    display: flex;
    align-items: center;
    color: $gray-darker;
    font-weight: bold;
    font-family: $font-heading;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 11px;

    &:hover {
      color: $green;
    }

    &:before {
      content: "";
      // @todo Replace with vector graphic
      background: $yellow url('../images/icon-right-lg.gif') no-repeat left -4px;
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-right: 7px;
    }
  }
}
