{% set base_class = "slide" %}
{% set classes = base_class %}
{% if slide.accent_color %}
  {% set classes = classes ~ " " ~ base_class ~ "--" ~ slide.accent_color %}
{% endif %}
{% for modifier in slide.modifiers %}
  {% set classes = classes ~ " " ~ base_class ~ "--" ~ modifier %}
{% endfor %}

<div class="{{ classes }}">
  {% if slide.img_src %}
    <div class="slide__image">
      {% include "@atoms/04-images/00-image/image.twig"
        with {
          "img_src": slide.img_src,
          "img_alt": slide.img_alt
        }
      %}
    </div>
  {% endif %}

  <div class="slide__caption{{ slide.caption_position? ' slide__caption--'~ slide.caption_position : '' }} {{ slide.caption_alignment? ' slide__caption--'~ slide.caption_alignment : '' }}">
    {% if slide.title %}
      <h2 class="slide__title">
        {{ slide.title }}
      </h2>
    {% endif %}

    <div class="slide__caption_content">
      {% if slide.body %}
        <div class="slide__body{{ slide.text_color? ' slide__body--'~ slide.text_color : '' }}">
          {{ slide.body|raw }}
        </div>
      {% endif %}

      {% if slide.link_url %}
        {% include "@atoms/06-buttons/00-button.twig"
          with {
            "button_content": slide.link_text,
            "button_url": slide.link_url,
            "button_base_class": "button",
            "button_modifiers": ["arrow", slide.accent_color],
            "button_blockname": "slide__link"
          }
        %}
      {% endif %}
    </div>
  </div>
</div>
