.slide {
  position: relative;

  .slide__image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .slide__caption {
    @include medium {
      position: absolute;
    }
  }

  .slide__body {
    color: $white;
    font-size: .8em;
    line-height: 1.5em;
    h1,h2,h3,h4,h5,h6 {
      color: $white;
    }
  }

  button {
    margin-top: 1.5em;
  }
}

.slide--standard {

  .slide__title {
    color: $white;
    background: $black;
    font-size: 1em;
    padding: .5em 1em;
    width: auto;
  }

  .slide__caption {
    background-color: rgba(100, 100, 100, 0.8);

    @include medium {
      position: absolute;
      top: 2.75em;
      left: 1.25em;
      width: 310px;
      &--right {
        right: 1.25em;
        left: auto;
      }
      &--bottom {
        top: auto;
        bottom: 2.75em;
      }
    }
  }

  .slide__caption_content {
    padding: 1em;
  }

  .slide__body {
    font-family: $sans-serif;
  }
}

.slide--home {

  .slide__title {
    color: $white;
    font-size: 2.5em;
    line-height: .8em;
  }

  @include medium {
    &.slide--blue {
      .slide__title {
        color: $light-blue;
      }
    }
    &.slide--yellow {
      .slide__title {
        color: $yellow;
      }
    }
    &.slide--green {
      .slide__title {
        color: $green;
      }
    }
  }

  .slide__body {
    display: none;

    @include medium {
      display: block;

      &--dark {
        color: $black;
      }
    }
  }

  .slide__caption {
    background: $green;
    padding: 1em;

    @include medium {
      background: transparent;
      top: 7em;
      left: 7em;
      width: 450px;
      &--right {
        right: 1.25em;
        left: auto;
      }
      &--bottom {
        top: auto;
        bottom: 3em;
      }
    }
  }
}
