{% include "@molecules/slide/_slide.twig" with {
  slide: {
    img_src: "http://placeimg.com/1280/720/nature",
    img_alt: "This is the slide image's alt text",
    title: random(headline),
    body: random(excerpt),
    link_url: "#",
    link_text: "Read the News",
    accent_color: "blue",
    text_color: "light",
    caption_position: "bottom",
    modifiers: ["home"]
  }
} %}