{% include "@molecules/slide/_slide.twig" with {
  slide: {
    img_src: "http://placeimg.com/1280/720/nature",
    img_alt: "This is the slide image's alt text",
    title: random(headline),
    body: random(excerpt),
    accent_color: "blue",
    link_url: "#",
    link_text: "Read the News",
    modifiers: ["standard"],
    caption_alignment: caption_alignment,
    caption_position: caption_position,
  }
} %}
