<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../node_modules/slick-carousel/slick/slick.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../node_modules/slick-carousel/slick/slick-theme.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../dist/style.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

    <script src="https://use.typekit.net/ogq8rpk.js"></script>
    {# Typekit has `async: false` to block rendering of page while fonts are fetched so there is no Flash of Unstyled Fonts (FOUT). #}
    <script>try{Typekit.load({ async: false });}catch(e){}</script>

  </head>
  <body class="{{ bodyClass }}">
    <!-- for js not found errors (only in styleguide)-->
  	<div class="visually-hidden">
  		<div id="tabs" class="tabs"></div>
  	</div>
