
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- Drupal-specific files - UNCOMMENT AS NECESSARY -->
  <!-- may need to change these below based on path -->
  <!-- <script src="../../../../../../../core/assets/vendor/domready/ready.min.js"></script>
  <script src="../../../../../../../core/misc/drupal.js"></script> -->

  <script src="../../../../node_modules/jquery/dist/jquery.js"></script>
  <script src="../../../../dist/scripts-styleguide.js"></script>
  <script src="../../../../node_modules/slick-carousel/slick/slick.js"></script>
  </body>
</html>
