$sans-serif: "open-sans", sans-serif;
$serif: serif;

$ff--helvetica: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
// https://typekit.com/fonts/museo-slab
$ff--museo-slab: "museo-slab", sans-serif;
// https://typekit.com/fonts/ff-ernestine
$ff--ernestine: "ff-ernestine-web-pro", sans-serif;
// https://typekit.com/fonts/jaf-bernini
$ff--bernino-condensed: "jaf-bernino-sans-condensed", sans-serif;
// https://typekit.com/fonts/jaf-bernini
$ff--bernino-narrow: "jaf-bernino-sans-narrow", sans-serif;

$font-body: $ff--museo-slab;
$font-heading: $ff--bernino-condensed;
$font-menu: $ff--bernino-narrow;
