.news-release-detail-top {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;

  @include medium {
    flex-wrap: unset;
  }

  .news-release-detail__image {
    margin-right: 1em;
    flex: 0 0 auto;

    margin-bottom: 1em;

    img {
      display: block;
      width: 100%;
    }

    @include medium {
      flex: 0 0 50%;
    }
  }

  .news-release-detail__label {
    font-size: 1.8em;
    background: $black;
    font-family: $font-heading;
    text-transform: uppercase;
    color: $white;
    padding: .25em;
    position: relative;
    padding-left: 18px;
    float: left;
    clear: right;

    &::before {
      content: " ";
      width: 8px;
      height: 8px;
      background: $green;
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
  .news-release-detail__title {
    color: $black;
    margin-top: .5em;
    clear: left;
  }
  .news-release-detail__date {
    font-family: $font-heading;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
  }
  .news-release-detail__location {
    font-family: $font-heading;
    font-size: 1.2em;
  }
}

.page-node-type-news-release {
  #block-vtlaw-breadcrumbs,
  #block-vtlaw-page-title {
    display: none;
  }
}
