#block-news-release-contact {
  background: $yellow01;
  padding: 1em 2em;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    background: $gray-light;
    width: 3px;
    height: 40%;
    top: 0;
    left: 0;
  }
}