{# NOTE: this markup comes from a custom block, included here just for styleguide #}
<div id="block-news-release-contact--2">
  <h2>Contact</h2>
  Maryellen Apelquist,<br/>
  Director of Communications,<br/>
  Vermont Law School<br/><br/>

  office: 802-831-1228<br/>
  cell: 802-299-5593
</div>