<div class="news-release-detail-top">
  {% if news_release_img_src %}
    <div class="news-release-detail__image">
      {% include "@atoms/04-images/00-image/image.twig"
        with {
          "img_src": news_release_img_src,
          "img_alt": news_release_img_alt,
          "image_base_class": img_base_class|default('image'),
        }
      %}
    </div>
  {% endif %}

  <div class="news-release-detail__info">
    <span class="news-release-detail__label">
      {{ news_release_label }}
    </span>
    <h2 class="news-release-detail__title">
      {{ news_release_title }}
    </h2>
    {% if news_release_date_string %}
      <p class="news-release-detail__date">
        {{ news_release_date_string }}
      </p>
    {% endif %}
    {% if news_release_location %}
      <p class="news-release-detail__location">
        {{ news_release_location }}
      </p>
    {% endif %}
  </div>
</div>