{#
/**
 * @file
 * Theme override to display a node when displayed in a theme region via the
 * EntityView block type from ctools.
 *
 * The title and submitted by stuff is all removed, and only the content (e.g
 * fields) is displayed.
#}
{{ content }}
