.section-title {
  color: $green-slate;
  font-weight: bold;
  font-family: $font-heading;
  font-size: 4.4em;
  line-height: .8em;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: -3px;
  margin: 0;
  padding-right: .25em;
}
