
<div class="news-listing {{ extra_class? extra_class : '' }}">
  {% if img_src %}
    <div class="news-listing__image">
      {% include "@atoms/04-images/00-image/image.twig"
        with {
          "img_src": img_src,
          "img_alt": img_alt,
          "image_base_class": img_base_class|default('image'),
        }
      %}
    </div>
  {% endif %}

  <div class="news-listing__content">
    <div class="news-listing__label">
      {% if url %}<a href="{{ url }}">{% endif %}
      {{ label }}
      {% if url %}</a>{% endif %}
    </div>

    {% if outlet %}
      <div class="news-listing__outlet">
        {{ outlet }}
      </div>
    {% endif %}

    {% if date_string %}
      <div class="news-listing__date">
        {{ date_string }}
      </div>
    {% endif %}

    {% if body %}
      <p class="news-listing__body">
        {{ body }}
      </p>
    {% endif %}
  </div>
</div>