.news-listing {
  padding: 1.25em 0;
  border-bottom: 1px solid $gray-lighter;
  display: flex;
  flex-wrap: wrap;

  @include small {
    flex-wrap: nowrap;
  }

  .news-listing__label a {
    text-decoration: none;
  }

  .news-listing__date {
    color: $gray;
    font-style: italic;
  }

  .news-listing__outlet {
    font-weight: bold;
  }

  .news-listing__image {
    width: 100%;
    flex-shrink: 0;

    @include small {
      width: 25%;
      max-width: 175px;
      margin-right: 1em;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .news-listing__content {
    flex-grow: 1;
  }

}

.news-listing--teaser {
  padding: .55em 0;
  font-family: $sans-serif;
  font-size: .8em;
  line-height: 1.75em;
}