{% include "@molecules/news-listing/_news-listing.twig" with {
  img_src: "../../images/vls-small-logo.png",
  img_alt: "",
  label: "Vermont Law Review Examines Litigating Takings, Scalia's Legacy",
  url: "#",
  body: excerpt.short,
  date_string: "Wednesday, July 26, 2017"
} %}