{% include "@molecules/news-listing/_news-listing.twig" with {
  label: "Vermont Law Review Examines Litigating Takings, Scalia's Legacy",
  url: "#",
  outlet: "Post Independent",
  date_string: "Wednesday, July 26, 2017"
} %}