  <div class="class-listing__meta">
    {% for field_name, data in fields %}
      {% if data.label %}{# only show field if label is given #}
        <span class="class-listing__{{ field_name }} class-listing__field">
          <h4 class="class-listing__{{ field_name }}_label">
            {{ data.label }}
          </h4>

          {{ data.value? data.value : 'Unspecified' }}
        </span>
      {% endif %}
    {% endfor %}
  </div>