.class-listing,
.class-detail {
  font-family: $sans-serif;
  padding: 17px 0;

  .class-listing__meta {
    display: flex;
  }

  .class-listing__field {
    flex-basis: 33%;
    box-sizing: border-box;
    padding-right: 5px;
  }

  h4 {
    color: $green;
    font-family: $font-body;
    display: block;
    font-size: 1.3em;
  }
}
.class-listing {
  border-bottom: 1px solid $gray-lighter;
}
