<div class="class-detail">
  {% include "@molecules/class/_class_meta.twig" with {
    fields: {
      "professor": {
        "label": professor_label,
        "value": professor
      },
      "semester": {
        "label": semester_label,
        "value": semester
      },
      "schedule": {
        "label": schedule_label,
        "value": schedule
      }
    }
  } %}

  {% if description %}
    <p class="class-listing__description">
      {% if description_label %}
        <h4 class="class-listing__description_label">{{ description_label }}</h4>
      {% endif %}

      {{ description }}
    </p>
  {% endif %}

  {#
   # Configure fields we'd like to be displayed here.
   # Only fields with data will be displayed.
   # See `class-detail.yml` or `course-detail.yml` to see which data
   # those components expect.
   #}
  {% include "@molecules/class/_class_meta.twig" with {
    fields: {
      "credits": {
        "label": credits_label,
        "value": credits
      },
      "max_enrollment": {
        "label": max_enrollment_label,
        "value": max_enrollment
      },
      "class_number": {
        "label": class_number_label,
        "value": class_number
      },
      "course_number": {
        "label": course_number_label,
        "value": course_number
      },
      "program": {
        "label": program_label,
        "value": program
      },
      "subject": {
        "label": subject_label,
        "value": subject
      }
    }
  } %}
</div>
