<div class="class-listing">
  <h3 class="class-listing__label">
    {% if url %}<a href="{{ url }}">{% endif %}
    {{ label }}
    {% if url %}</a>{% endif %}
  </h3>

  {% if description %}
    <p class="class-listing__description">
      {{ description }}
    </p>
  {% endif %}

  {% include "@molecules/class/_class_meta.twig" with {
    fields: {
      "professor": {
        "label": professor_label,
        "value": professor
      },
      "semester": {
        "label": semester_label,
        "value": semester
      },
      "schedule": {
        "label": schedule_label,
        "value": schedule
      }
    }
  } %}
</div>