// Create a mixin for paragraph styles that can be implemented
// in components with other classnames.
@mixin paragraph($margin: 0 0 1em) {
  margin: #{$margin};
}

body {
  color: $gray-darker;
  @include body-copy;
}

.paragraph {
  @include paragraph;

  &--no-space {
    margin-bottom: 0;
  }
}

.blockquote {
  font-style: italic;
  border-left: solid 3px $color-border;
  margin-left: 1em;
  padding-left: 1em;
}

img,
.img {
  max-width: 100%;
  height: auto;
}


.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

.page__body.text-long {
  > p:first-of-type {
    font-size: 1.1em;
    line-height: 1.6em;
  }
}

.page__second_sidebar_blocks_item {
  .text {
    .text-long {    
      padding-top: 24px;
      .section-links-title {
        margin-top: 15px;
      }
      ul {
        padding-bottom: 15px;
      }
    }
  }
}                
            