$bottom-border-width: 5px;

.site-header {
  background: $tan;

  .branding {
    border-bottom: $bottom-border-width solid $green;
    position: relative;
    display: flex;
    align-items: stretch;
    background: $gray-darker;
    justify-content: space-between;
    @include medium {
      height: 85px;
      background-color: transparent;
      .branding__logo {
        background: $gray-darker;
        flex-grow: 1;
        display: flex;
        align-items: center;
        img {
          margin: 0 auto;
        }
      }
    }
    .left-column-toggle__label {
      align-self: flex-end;
      flex-shrink: 0;
    }
  }

  #block-header-region-viewmode {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
  }

  @include medium {
    display: flex;

  }

  .section-title {
    display: none;

    @include medium {
      display: block;
    }
  }
}
