<header class="site-header" role="banner">
  {% include "@molecules/branding/_branding.twig" %}

  <div id="block-header-region-viewmode">
    {% include "@atoms/10-section-title/section-title.twig" %}
  </div>
</header>