.vtlaw_date {
  background: $gray;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  padding: 1em .5em;
  line-height: 1;

  span {
    display: block;
  }

  .vtlaw_date__day {
    font-size: 1.75em;
  }
}
