  <div class="vtlaw_date {{ block_name }}">
    <span class="vtlaw_date__day">{{ date_value|date("j") }}</span>
    <span class="vtlaw_date__month">{{ date_value|date("M") }}</span>
    <span class="vtlaw_date__year">{{ date_value|date("Y") }}</span>
  </div>
