/*
 * Requirement: any ul in `content-aside` should look like `secondary-navigation`.
 *
 * So these styles use elements instead of classnames, amongst a couple other weird details
 */
.secondary-navigation,
.content_aside-inner .text ul {
  li {
    border-bottom: 1px solid $gray-lighter;
    padding-left: 0;
  }

  a {
    padding: 9px 0 7px;
    line-height: 1.4em;
    font-size: .8em;
    display: block;
  }

  li,
  a,
  a:link,
  a:visited,
  a:focus {
    font-family: $sans-serif;
    text-decoration: none;
  }

  ul {
    @include list-reset;

    a {
      margin-left: 1em;
    }
  }
}

.content_aside-inner .text ul {
  list-style: none; // these styles come from the `menu` class on actual menus
  margin: 0;        // we don't want users to have to add that class
  padding: 0;

  p { // drupal adds paragraphs if "full text"
    margin: 0;
  }
}
