.dl-term {
  .accordion__list-dl & {
    border-top: 1px solid $gray-lightest;
    color: $gray-dark;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding:1em 0;

    &::before {
      content:"+";
      padding: .8em;
      top: .35em;
    }

    &:hover {
      color: $gray;
    }

    &.is-active {
      color: $gray;

      &::before {
        content:"-";
        top: .45em;
      }

      & + dd {
        height: auto;
        margin: 0em 2em 0;
        overflow: visible;
        padding-bottom: 1em;
      }
    }
  }
}

.dl-definition {
  .accordion__list-dl & {
    margin: 0em 2em 0;

    &.active {
      height: 0;
      margin: 0 2em 0;
      overflow: hidden;
    }
  }
}
