.menu--utility {
  &.menu {
    padding-top: 18px;
  }
  .menu__item {

    // Instead of a Drupal menu item for a spacer, this puts a space after the 3rd item, and then every 4 items.
    &:nth-child(3),
    &:nth-child(4n+3) {
      margin-bottom: 1em;
    }
  }
  .menu__link {
    display: block;
    color: $gold-slate;
    font-size: .9em;
    font-family: $ff--bernino-condensed;
    padding-left: 18px;
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}
