{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{% set menu_classes = 'menu menu--' ~ menu_name %}
{% if menu_class is defined %}
  {% set menu_classes = 'menu ' ~ menu_class %}
{% endif %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_classes) }}

{% macro menu_links(items, attributes, menu_level, menu_classes) %}
  {% import _self as menus %}

  {% if attribute(attributes, 'addClass') is defined  %}
    {% set drupal = true %}
  {% else %}
    {% set attributes = [] %}
    {% set pattern_lab = true %}
  {% endif %}

  {% if items %}
    {% if menu_level == 0 %}
      {% if drupal %}
        <ul{{ attributes.addClass(menu_classes|split(' ')) }}>
      {% else %}
        <ul class="{{ menu_classes }}">
      {% endif %}
    {% else %}
      <ul class="sub-menu menu__submenu--level-{{ menu_level }}">
    {% endif %}
    {% for item in items %}
      {% set item_class = 'menu__item '%}

      {% if item.in_active_trail %}
        {% set item_class = item_class ~ ' menu__item--active' %}
      {% endif %}

      {% if item.below %}
        {% set item_class = item_class ~ ' menu__item--has-children' %}

        {% if item.is_expanded %}
          {% set item_class = item_class ~ ' menu__item--expanded' %}
        {% else %}
          {% set item_class = item_class ~ ' menu__item--collapsed' %}
        {% endif %}
      {% endif %}

      {% if drupal %}
        <li{{ item.attributes.addClass(item_class|split(' ')) }}>
      {% else %}
        <li class="{{ item_class }}">
      {% endif %}
        {# drupal wants us to use the `link` function #}
        {% if drupal %}
          {{ link(item.title, item.url, { 'class' : ['menu__link']}) }}
        {% else %}
          {# is-active is set by Drupal from the `link` function #}
          {% if item.is_active %}
            {% set link_class = 'menu__link is-active' %}
          {% else %}
            {% set link_class = 'menu__link' %}
          {% endif %}

          <a href="{{ item.url }}" class="{{ link_class }}">{{ item.title }}</a>
        {% endif %}
      </li>
      {% if item.below %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_classes) }}
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
