<div class="site-sidebar"> {# just for context / bg color #}
  {% include "@molecules/menus/_menu.twig" with {
    items: {
      1: {
        url: "http://vermontlaw.edu",
        title: "Events"
      },
      2: {
        url: "http://vermontlaw.edu",
        title: "News"
      },
      3: {
        url: "http://vermontlaw.edu",
        title: "People"
      },
      4: {
        url: "http://vermontlaw.edu",
        title: "Scholarship & Impacts"
      },
      5: {
        url: "http://vermontlaw.edu",
        title: "Summer"
      },
      6: {
        url: "http://vermontlaw.edu",
        title: "Videos"
      }
    },
    menu_name: 'utility'
  } %}
</div>