.gs-title {
  font-family: $font-heading;
  text-transform: uppercase;
  color: $gray !important;
  font-size: 18px;
}
.gs-snippet {
  font-family: $font-body;
}
.gs-visibleUrl {
  color: $green !important;
}
.gsc-cursor-page {
  color: $green !important;
}
/* VTLAW-1331
 * temporarily hide search result ads
 * @todo: remove when client's 501c3 account is approved
 */
.gsc-adBlock {
  display: none !important;
}