.primary-navigation {
  @include list-reset;
  background: $color-sidebar;
  width: 100%;
  margin-top: 50px;

  @include medium {
    width: 15em;
  }

  @include xl {
    width: 20em;
  }

  .menu__item {
    position: relative;
    border-bottom: 1px solid $color-menu-item;
  }

  .menu__link {
    font-size: .9em;
    line-height: 3em;
    font-family: $font-menu;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    background: $color-sidebar;
    display: block;
    padding-left: 18px;
    padding-right: 3em; // to account for toggle icons
  }


  .menu__submenu--level-1 {
    @include list-reset;

    .menu__item {
      border-bottom: none;
    }

    .menu__link {
      font-size: .8em;
      line-height: 2em;
      color: $color-menu-link;
      background: $bg-menu-link;
      padding-left: 28px;
    }
  }

  .menu__submenu--level-2 {
    @include list-reset;

    .menu__link {
      text-transform: none;
      color: $white;
      background: $l2bg-menu-link;
      padding-left: 38px;
    }
  }

  /*
   * Active & hover states
   *
   * each level has unique base colors but the same hover/active colors
   * so those are grouped together here
   */
  .menu__link.is-active,
  .menu__submenu--level-1 .menu__link.is-active,
  .menu__submenu--level-2 .menu__link.is-active {
    background: $dark-blue;
    color: $white;
  }
  .menu__link:hover,
  .menu__submenu--level-1 .menu__link:hover,
  .menu__submenu--level-2 .menu__link:hover {
    background: $dark-blue;
    color: $white;
    cursor: pointer;
  }

  .menu__item--no-children {
    font-size: .9em;
    line-height: 1.4em;
    border-bottom: none;

    .menu__link {
      color: $color-single-menu-item;
      text-transform: none;

      &:hover {
        color: $white;
        background: transparent;
      }
    }
  }
}

// menu__toggle is a checkbox input. It is placed above the label
.menu__toggle,
.menu__toggle + label {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 10;
  opacity: 0;
  padding: 0;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}
.menu__submenu--level-1 {
  .menu__toggle,
  .menu__toggle + label {
    top: .5em;
  }
}

.menu__toggle + label {
  z-index: 9;
  opacity: 1;
  display: block;
  height: 14px;
  width: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='m 0,5 l 10,0 M 5,0 l 0,10' fill='none' stroke='rgb(136,136,136)' stroke-width='3' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.menu__toggle:checked + label {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='m 0,5 l 10,0' fill='none' stroke='rgb(136,136,136)' stroke-width='3' /%3E%3C/svg%3E");
}

.menu__toggle + label + ul {
  display: none;
}

.menu__toggle:checked + label + ul {
  display: block;
}

.menu__separator {
  padding-top: 2em;
  display: block;
}
