{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(primary_navigation_items, attributes, 0) }}

{% macro menu_links(primary_navigation_items, attributes, menu_level) %}
  {% import _self as menus %}

  {% if attribute(attributes, 'addClass') is defined  %}
    {% set drupal = true %}
  {% else %}
    {% set attributes = [] %}
    {% set pattern_lab = true %}
  {% endif %}

  {% if primary_navigation_items %}
    {% if menu_level == 0 %}
      {% set menu_classes = 'menu primary-navigation' %}

      {% if drupal %}
        <ul{{ attributes.addClass(menu_classes|split(' ')) }}>
      {% else %}
        <ul class="{{ menu_classes }}">
      {% endif %}
    {% else %}
      <ul class="sub-menu menu__submenu--level-{{ menu_level }}">
    {% endif %}
    {% for item in primary_navigation_items %}
      {% set item_class = 'menu__item '%}

      {% if item.in_active_trail %}
        {% set item_class = item_class ~ ' menu__item--active' %}
        {% set toggle_attr = 'checked' %}
      {% else %}
        {% set toggle_attr = '' %}
      {% endif %}

      {% if item.below %}
        {% set item_class = item_class ~ ' menu__item--has-children' %}

        {% if item.is_expanded %}
          {% set item_class = item_class ~ ' menu__item--expanded' %}
        {% else %}
          {% set item_class = item_class ~ ' menu__item--collapsed' %}
        {% endif %}
      {% elseif menu_level == 0 %}
        {% set item_class = item_class ~ ' menu__item--no-children' %}
      {% endif %}

      {% if drupal %}
        <li{{ item.attributes.addClass(item_class|split(' ')) }}>
      {% else %}
        <li class="{{ item_class }}">
      {% endif %}
        {% if item.title == '_separator_' %}
          <span class="menu__separator"></span>
        {% else  %}
          {# drupal wants us to use the `link` function #}
          {% if drupal %}
            {{ link(item.title, item.url, { 'class' : ['menu__link']}) }}
          {% else %}
            {# is-active is set by Drupal from the `link` function #}
            {% if item.is_active %}
              {% set link_class = 'menu__link is-active' %}
            {% else %}
              {% set link_class = 'menu__link' %}
            {% endif %}

            <a href="{{ item.url }}" class="{{ link_class }}">{{ item.title }}</a>
          {% endif %}
        {% endif %}

        {% if item.below %}
          <input type="checkbox" class="menu__toggle" {{ toggle_attr }} />
          <label class="menu__toggle_label"></label>
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro menu_links %}
