{#
/**
 * @file
 * Theme implementation to present a tile media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * - attributes: Wrapper attributes.
 * - img_src: The URL to the tile image.
 * - img_alt: The alt text for the tile image.
 * - featured: Boolean value if this tile is featured.
 *
 * @see vtlaw_preprocess_media_tile()
 *
 * @ingroup themeable
 */
#}

{% include "@molecules/tile/tile.twig" with { tile: {
  img_src: img_src,
  img_alt: img_alt,
  title: name,
  body: content.field_description,
  link_url: content.field_url.0['#url'],
  link_text: content.field_url.0['#title'],
  featured: featured
} } only %}
