{# @see vtlaw_preprocess_node_event() #}

{% include "@molecules/event/_event.twig" with {
  block_name: "event_listing_aside",
  event: {
    title: node.label,
    url: url,
    date: start_date,
    time: start_time,
    location: locations
  }
} only %}