{# @see vtlaw_preprocess_node_event() #}
{% include "@molecules/event/_event.twig" with {
  block_name: "event_detail",
  event: {
    title: node.label,
    date: start_date,
    time: start_time,
    end_date: end_date,
    end_time: end_time,
    location: locations,
    description: content.body,
    contact_name: content.field_organization_or_sponsor[0]['#context']['value'],
    contact_email: content.field_email[0]['#context']['value'],
    links: links
  }
} only %}




