{# @see vtlaw_preprocess_node_person() #}

{% include "@molecules/person/person-detail-aside.twig" with {
  person_expertise_label: node.field_areas_of_expertise.fieldDefinition.label,
  person_expertise: expertises,
  person_courses_label: node.field_courses_taught.fieldDefinition.label,
  person_courses: courses_taught
} only %}
