{# @see vtlaw_preprocess_node_news_release() #}

{% include "@molecules/news-listing/_news-listing.twig" with {
  label: node.label,
  url: url,
  extra_class: "news-listing--teaser",
  date_string: date
} only %}