{# @see vtlaw_preprocess_node_person() #}
{% include "@molecules/person/person-detail-top.twig" with {
  img_src: photo_url,
  img_alt: photo_alt,
  person_name: label,
  person_label: content.field_constituency,
  job_titles: job_titles,
  departments: departments,
  degrees: degrees,
  phone_numbers: phone_numbers,
  cv_href: cv_href,
  email: content.field_email
} only %}

