{#
/**
 * @file
 * Template override to display a person node in the main content region.
 *
 * @see vtlaw_preprocess_node_person()
 */
#}

{{ attach_library('vtlaw/tabs') }}

{% set tab_items = [] %}

{% if node.body.value is not empty %}
  {% set tab_items = tab_items|merge([{
    label: node.body.fieldDefinition.label,
    template: '@molecules/person/biography.twig',
    data: {
      'bio': content.body,
      'label': node.body.fieldDefinition.label
    }
  }]) %}
{% endif %}

{% set publications = content.person_accomplishments_eva_publications %}
{# striptags is needed because EVAs with no results still have some empty markup #}
{% if publications|render|striptags|trim %}
  {% set tab_items = tab_items|merge([{
    label: 'Publications',
    content: publications,
    additional_classes: 'accomplishment-listings'
  }]) %}
{% endif %}

{% set presentations = content.person_accomplishments_eva_presentations %}
{% if presentations|render|striptags|trim is not empty %}
  {% set tab_items = tab_items|merge([{
    label: 'Presentations',
    content: presentations,
    additional_classes: 'accomplishment-listings'
  }]) %}
{% endif %}

{% set awards = content.person_accomplishments_eva_awards_accomplishments %}
{% if awards|render|striptags|trim is not empty %}
  {% set tab_items = tab_items|merge([{
    label: 'Awards & Accomplishments',
    content: awards,
    additional_classes: 'accomplishment-listings'
  }]) %}
{% endif %}

<div class="tabs no-js">
  <ul class="tabs__nav">
    {% for key, item in tab_items %}
    {% include "@atoms/09-menu/tab/tab.twig"
      with {
        tab_link: "#tab-" ~ key,
        tab_text: item.label,
        is_active: key == 0
    } only %}
    {% endfor %}
  </ul>
  {% for key, item in tab_items %}
    <div id="tab-{{ key }}" class="tabs__content tabs__tab{% if key == 0 %} is-active{% endif %}{% if item.additional_classes %} {{ item.additional_classes }}{% endif %}">
      {% if item.content %}
        <h2 class="accomplishment-listings__heading">{{ item.label }}</h2>
        {{ item.content }}
      {% endif %}
      {% if item.template and item.data %}
        {% include item.template with item.data %}
      {% endif %}
    </div>
  {% endfor %}
</div>
