{# @see vtlaw_preprocess_node_person() #}

{% include "@molecules/person/_person.twig" with {
  block_name: "person-listing-mini",
  person_name: node.label,
  person_url: url,
  job_titles: job_titles,
  departments: departments
} only %}
