{# @see vtlaw_preprocess_node_event() #}

{% include "@molecules/event/_event.twig" with {
  block_name: "event_listing_short",
  event: {
    title: node.label,
    url: event_web_page ? event_web_page : url,
    date: start_date,
    time: start_time,
    location: locations
  }
} only %}
