{# @see vtlaw_preprocess_node_accomplishment() #}

{% include "@molecules/accomplishment/accomplishment-short.twig" with {
  accomplishment_text: content.field_listing,
  accomplishment_url: content.field_web_page.0['#url'],
  additional_classes: attributes.class,
  title_suffix: title_suffix
} only %}
