{# @see vtlaw_preprocess_node_person() #}

{% include "@molecules/person/_person.twig" with {
  block_name: "person-listing-short",
  img_src: photo_url,
  img_alt: photo_alt,
  person_name: node.label,
  person_url: url,
  job_titles: job_titles,
  expertise_label: node.field_areas_of_expertise.fieldDefinition.label ~ ": ",
  expertise: expertises
} only %}
