{# @see vtlaw_preprocess_node_news_release() #}

{% include "@molecules/news-release-detail/news-release-detail-top.twig" with {
  news_release_label: content_type_string,
  news_release_title: node.label,
  news_release_date_string: date,
  news_release_location: location
} only %}

