{# @see vtlaw_preprocess_node_news_release() #}

{% include "@molecules/news-listing/_news-listing.twig" with {
  img_src: "/themes/vtlaw/components/images/vls-small-logo.png",
  img_alt: node.label,
  label: node.label,
  url: url,
  date_string: date
} only %}