{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}

{{ title_prefix }}
{% if title %}
{% include "@atoms/11-page-title/page-title.twig"
  with {
    "page_title": title,
  }
%}
{% endif %}
{{ title_suffix }}
