// Tab Navigation
.tabs__nav {
  @include list-reset;

  @include xl {
    display: flex;
    flex-wrap: wrap;
  }
}

// Tab Content (hidden only in full #tabs js version)
.tabs__tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.tabs__content {
  padding: 1.5rem;
}

// No-js fallback
.tabs.no-js {
  .tabs__tab.is-active {
    display: block;
  }
}

// Drupal Local Tasks variant
.tabs__nav--local-tasks {
  margin: 1em 0 .5em;
  padding: 0;
}

