{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{# Drupal Specific #}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="tabs__nav tabs__nav--local-tasks">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul>{{ secondary }}</ul>
{% endif %}

{# PL Specific (javascript version) #}
{% if not primary %}
  <div id="tabs" class="tabs no-js">
    {% if tabs_only or not content_only %}
      <ul class="tabs__nav">
        {% for key, item in items %}
        {% include "@atoms/09-menu/tab/tab.twig"
          with {
            tab_link: "#tab-" ~ key,
            tab_text: item.label,
            is_active: item.is_active
          }
        %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if content_only or not tabs_only %}
      {% for key, item in items %}
        <div class="tabs__tab{% if key == 0 %} is-active{% endif %}">
          <div id="tab-{{ key }}" class="tabs__content">
            {% if item.content %}
              {{ item.content }}
            {% endif %}
            {% if item.template and item.data %}
              {% include item.template with item.data %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
