$color-border: $gray-light;
$color-link: $blue;
$color-heading: $gray-darker;
$color-sidebar: $gray-darker;
$color-single-menu-item: $gold-slate;
$color-menu-item: $gray02;
$color-menu-link: $gray01;
$bg-menu-link: $gray03;
$l2bg-menu-link: $gray04;

.u-bg--white { background-color: $white !important; }
.u-bg--black { background-color: $black !important; }
.u-bg--green { background-color: $green !important; }
.u-bg--blue { background-color: $blue !important; }
.u-bg--dark-blue { background-color: $dark-blue !important; }
.u-bg--light-blue { background-color: $light-blue !important; }
.u-bg--tan { background-color: $tan !important; }
.u-bg--yellow { background-color: $yellow !important; }
.u-bg--green-slate { background-color: $green-slate !important; }
.u-bg--gold-slate { background-color: $gold-slate !important; }
.u-bg--gray-lighter { background-color: $gray-lighter !important; }
.u-bg--gray { background-color: $gray !important; }
.u-bg--gray-darker { background-color: $gray-darker !important; }

.u-color--white { color: $white !important; }
.u-color--black { color: $black !important; }
.u-color--green { color: $green !important; }
.u-color--blue { color: $blue !important; }
.u-color--dark-blue { color: $dark-blue !important; }
.u-color--light-blue { color: $light-blue !important; }
.u-color--tan { color: $tan !important; }
.u-color--yellow { color: $yellow !important; }
.u-color--green-slate { color: $green-slate !important; }
.u-color--gold-slate { color: $gold-slate !important; }
.u-color--gray-lighter { color: $gray-lighter !important; }
.u-color--gray { color: $gray !important; }
.u-color--gray-darker { color: $gray-darker !important; }
