$white: white;
$near-white: #f5f5f5;
$gray-lightest: #e5e5e5;
$gray-lighter: #ddd;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #272727;
$gray01: #888;
$gray02: #484848;
$gray03: #222;
$gray04: #202020;
$black: black;

$green: #00ab54;
$blue: #145d8d;
$dark-blue: #142634;
$light-blue: #5fd0e1;
$tan: #eee8dc;
$yellow: #ffdc3a;
$yellow01: #ffe018;
$green-slate: #b1b2ae;
$gold-slate: #cdc3ae;