$spacing: 15px;

.u-padding--xs { padding: $spacing / 3; }
.u-padding--s { padding: $spacing / 2; }
.u-padding--m { padding: $spacing; }
.u-padding--l { padding: $spacing * 2;}
.u-padding--xl { padding: $spacing * 3;}
.u-padding--xxl { padding: $spacing * 4;}

.u-padding-right--xl { padding-right: $spacing * 4;}
.u-padding-left--xs { padding-left: $spacing / 3;}
.u-padding-right--xs { padding-right: $spacing / 3;}
