<ul>
  <li class="u-color--white u-bg--black">u-color--white (u-bg--black)</li>
  <li class="u-color--black">u-color--black</li>
  <li class="u-color--green">u-color--green</li>
  <li class="u-color--blue">u-color--blue</li>
  <li class="u-color--dark-blue">u-color--dark-blue</li>
  <li class="u-color--light-blue">u-color--light-blue</li>
  <li class="u-color--tan">u-color--tan</li>
  <li class="u-color--yellow">u-color--yellow</li>
  <li class="u-color--green-slate">u-color--green-slate</li>
  <li class="u-color--gold-slate">u-color--gold-slate</li>
  <li class="u-color--gray-lighter">u-color--gray-lighter</li>
  <li class="u-color--gray">u-color--gray</li>
  <li class="u-color--gray-darker">u-color--gray-darker</li>
  <li class="u-bg--white">u-bg--white</li>
  <li class="u-bg--black u-color--white">u-bg--black (u-color--white)</li>
  <li class="u-bg--green">u-bg--green</li>
  <li class="u-bg--blue">u-bg--blue</li>
  <li class="u-bg--dark-blue u-color--white">u-bg--dark-blue (u-color--white)</li>
  <li class="u-bg--light-blue">u-bg--light-blue</li>
  <li class="u-bg--tan">u-bg--tan</li>
  <li class="u-bg--yellow">u-bg--yellow</li>
  <li class="u-bg--green-slate">u-bg--green-slate</li>
  <li class="u-bg--gold-slate">u-bg--gold-slate</li>
  <li class="u-bg--gray-lighter">u-bg--gray-lighter</li>
  <li class="u-bg--gray">u-bg--gray</li>
  <li class="u-bg--gray-darker u-color--white">u-bg--gray-darker (u-color--white)</li>
</ul>