<div class="person-listings">
  {% for person in persons %}
    {% include "@molecules/person/person-listing-short.twig" with {
      img_src: person.img_src,
      img_alt: person.img_alt,
      person_url: person.url,
      person_name: person.name,
      job_titles: person.job_titles,
      expertise_label: person.expertise_label,
      expertise: person.expertise
    } %}
  {% endfor %}
</div>