.SearchForm {
  color: $gray-lighter;
  background: $gray-dark;

  form {
    display: flex;
    box-sizing: border-box;
  }

  .SearchForm-input {
    background: $gray-dark;
    color: $gray-lighter;
    border: none;
    font-family: $font-body;
    box-sizing: border-box;
    flex: 1 0 auto;
  }
  .SearchForm-submit {
    background: $gray-dark url(../components/images/search.png) 0 -6px no-repeat;
    color: transparent;
    overflow: hidden;
    padding: 0 1em;
    width: 25px;
  }
}