{#
 # Note: the markup for this component is just copy/pasted from Drupal so we can style here
 #}
<div class="SearchForm contextual-region" data-drupal-selector="simple-gse-search-form" id="block-simplegsesearchblock">
  <form action="#" method="get" id="simple-gse-search-form" accept-charset="UTF-8">
    <input placeholder="Search site..." class="SearchForm-input form-text form-item__textfield" type="text" id="edit-s" name="s" value="" maxlength="128">
    <input class="SearchForm-submit button js-form-submit form-submit form-item__textfield" data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="go">
  </form>
</div>