.breadcrumb {
  @include list-reset;
}

.breadcrumb__link {
  color: $green;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  font-family: $sans-serif;
  font-weight: bold;
  font-family: $sans-serif;
  text-decoration: none;
}

.breadcrumb__link:hover {
  color: $gray;
}

.breadcrumb__item {
  display: inline-block;
  font-size: .75rem;

  &::after {
    content: " / ";
  }
}
